/* .m-menu-link {
  display: none;
  color: red;
  font-size: 2rem;
}

.m-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  list-style: none;
  font-size: 2rem;
  line-height: 6rem;
  background-color: #5e465e;
  z-index: 990;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .visible-lg {
    display: none;
  }

  .m-menu-link {
    display: block;
  }
} */
